<h1><%= @header_msg %></h1>

<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li style="color: red;"><%= error %></li>
  <% end %>
</ul>

<%= form_for(@user) do |f| %>

	First name<br>
	<%= f.text_field :first_name %><br><br>

	Last name<br>
	<%= f.text_field :last_name %><br><br>

	Email Address<br>
	<%= f.text_field :email %><br><br>

	Password<br>
	<%= f.password_field :password %><br><br>

	Confirm password<br>
	<%= f.password_field :password_confirmation %><br><br>

	Phone number<br>
	<%= f.text_field :phone_number %><br><br>

	Address<br>
	<%= f.text_field :address %><br><br>

	<%= f.submit @button_msg %>
<% end %>