<div class="view">
	<div class="view_content">
		<h2>Change Password</h2><br>

		<div class="errors">
			<ul>
			  <% @user.errors.full_messages.each do |error| %>
			    <li style="color: red;"><%= error %></li>
			  <% end %>
			</ul>
		</div>

		<%= form_for @user, url: {action: :update_password} do |f| %>

			Password<br>
			<%= f.password_field :password %><br><br>

			Confirm password<br>
			<%= f.password_field :password_confirmation %><br><br>

			<%= f.submit 'Confirm' %>
		<% end %>
	</div>
</div>