<div class="view">
	<div class="new-user-view-content">
		<h1>Join <font color="#8B5E3C"><b>Book</b></font>Shoppe</h1><br>

		<ul class="new-user-errors">
			<% @user.errors.full_messages.each do |error| %>
			  <li><%= error %></li>
			<% end %>
		</ul>

		<%= form_for @user do |f| %>
			<div class="new-user-cols" style="float: left; background-color: ">
				First Name<br>
				<%= f.text_field :first_name, :class => "new-user-text-box" %><br><br>

				Last Name<br>
				<%= f.text_field :last_name, :class => "new-user-text-box" %><br><br>

				Email Address<br>
				<%= f.text_field :email, :class => "new-user-text-box" %><br><br>

				Username<br>
				<%= f.text_field :username, :class => "new-user-text-box" %><br><br>
			</div>

			<div class="new-user-cols" style="float: left; margin-left: 5%;">

				Password<br>
				<%= f.password_field :password, :class => "new-user-text-box" %><br><br>

				Confirm Password<br>
				<%= f.password_field :password_confirmation, :class => "new-user-text-box" %><br><br>

				Phone Number<br>
				<%= f.text_field :phone_number, :class => "new-user-text-box" %><br><br>

				Address<br>
				<%= f.text_field :address, :class => "new-user-text-box" %><br><br>
			</div>

			<div class="clearfix"></div>
			<%= f.submit 'Sign Up' %>
		<% end %>
	</div>
</div>
