<div class="view">
	<div class="row">

		<div id="user_card" class="col">
			<h1 align="center"><%= @user.full_name %></h1>

			<% if @user.avatar.url.nil? %>
				<img id="avatar" src="https://i.imgur.com/aO27nat.jpg">
			<% else %>
				<img id="avatar" src="<%= @user.avatar.url %>">
			<% end %>

			<% if @user == current_user %>
				<div class="btn-group-vertical btn-group-lg" style="width:100%; "align="left">
					<%= link_to "Edit profile", edit_user_path, class: "btn btn-secondary" %>
					<%= link_to "Delete my profile", user_path, method: :delete, data: {confirm: "Are you sure you want to delete your profile?\nAll of your active trades will be canceled.\n\nThis can't be undone. "}, class: "btn btn-secondary" %>
				</div>
			<% end %>
		</div>
		
		<div id="inventory" align="center" class="col">
			<br>
			<h1><%= @user.username %>'s books</h1><br>

			<font size="4">
				<% if @user.inventory.size == 0 %>
					<%= @user == current_user ? "You don't have any books to trade." : "This user does not have any books to trade." %><br><br>
				<% else %>
					<% @user.inventory.each do |slug, num| %>
						<%= num %>x <%= slug %><br>
					<% end %><br>
				<% end %>
			</font>

			<% if @user != current_user %>
				<a href="<%= new_trade_path+"?id=#{@user.id}" %>" class="btn blue_btn large_btn">Propose a trade with this user <i class="book icon"></i></a>
			<% else %>
				<a href="<%= new_book_path %>" class="btn blue_btn large_btn">Add a book to your collection <i class="book icon"></i></a>
			<% end %>
		</div>
</div>
</div>