<div id="profile_display">
	
	<div id="user_card">
		<h1 align="center"><%= @user.full_name %></h1>

		<% if @user.avatar.url == nil %>
			<img id="avatar" src="https://i.imgur.com/aO27nat.jpg">
		<% else %>
			<img id="avatar" src="<%= @user.avatar.url %>">
		<% end %>

		<% if @user == current_user %>
			<div class="btn-group-vertical btn-group-lg" style="width:100%; "align="left">
				<%= link_to "Edit profile", edit_user_path, class: "btn btn-secondary" %>
				<%= link_to "Delete my profile", user_path, method: :delete, data: {confirm: "Are you sure you want to decline this trade?"}, class: "btn btn-secondary" %>
			</div>
		<% end %>
	</div>
	
	<div align="center">
		<br>
		<h1><%= @user.username %>'s books</h1><br>
		<font size="3">
			<% if @user.inventory.size == 0 %>
				This user does not have any book to trade.
			<% else %>
				<% @user.inventory.each do |slug, num| %>
					<%= num %>x <%= slug %><br>
				<% end %><br>
				<% if @user != current_user %>
					<%= link_to 'Propose a trade with this user.', new_trade_path+"?id=#{@user.id}" ,class: 'btn blue_btn' %>
				<% else %>
					<%= link_to 'Add another book to your collection.', new_book_path ,class: 'btn blue_btn' %>
				<% end %>
			<% end %>
		</font>
	</div>

	<div class="clearfix"></div>
</div>