<style type="text/css">
	img#profile_image {
		max-width:20%;
		max-height:20%;
		float: left;
	}
</style>

<h1><%= link_to "Edit My Profile", edit_user_path%></h1>
<div align="center">
<ul>
		<%= image_tag(@user.image.url, alt: @user.full_name) if @user.image? %>
</ul>
	<h1>Viewing <%= @user.first_name %>'s profile</h1>
	<h3><%= @user.first_name %>'s books:</h3>
	<% @user.inventory.each do |slug, num| %>
		<%= num %>x <%= slug %><br>
	<% end %><br>

	<% if @user.id != current_user.id %>
		<%= link_to 'Propose a trade with this user.', new_trade_path %>
	<% end %>
</div>
