<style type="text/css">

	#profile_display {
		margin-top: 1%;
		margin-left: 15%;
		margin-right: 15%;

		height: 90vh;
		background-color: #F1F3F5;
	}

	#user_card {
		margin-top: 1%;
		margin-left: 5%;

		max-width:30%;
		max-height:30%;

		float: left;
	}

	#avatar {
		min-width:100%;
		min-height:100%;
	}
</style>

<div id="profile_display">

	<div id="user_card">
		<h1 align="center"><%= @user.full_name %></h1>
		<% if @user.avatar.url == nil %>
			<img id="avatar" src="https://i.imgur.com/aO27nat.jpg">
		<% end %>
		<img id="avatar" src="<%= @user.avatar.url %>">
		<% if @user == current_user %>
			<div class="btn-group-vertical btn-group-lg" style="width:100%; "align="left">
				<%= link_to "Edit profile", edit_user_path, class: "btn btn-secondary" %>
				<%# <%= link_to "Change password", edit_password_path, class: "btn btn-secondary" %>
			</div>
		<% end %>
	</div>
	
	<div align="center">
		<br>
		<h1><%= @user.display_name %>'s books</h1>
		<font size="3">
			<% if @user.inventory.size == 0 %>
				This user does not have any book to trade.
			<% else %>
				<% @user.inventory.each do |slug, num| %>
					<%= num %>x <%= slug %><br>
				<% end %><br>
				<%= link_to 'Propose a trade with this user.', new_trade_path if @user != current_user %>
			<% end %>
		</font>
	</div>

	<div class="clearfix"></div>
</div>