<div class="view y-scroll">
	<div class="view_content">
		<h1>Book Search</h1>

		<!-- display all books -->
		<% if @books %>
			<font size="3"><br>These are all of the books in our system:</font><hr>
			<% @books.each do |book| %>
				<h3><%= link_to book.slug, books_path+"?search=#{book.title}" %></h3>
				<font size="3" style="margin-left: 1%;"><%= user_search_count(book.users.uniq.count) %></font><br><br><br>
			<% end %>

		<!-- display one book -->
		<% elsif @book %><br><hr>
			<h3><%= @book.slug %></h3>
			<font size="3" style="margin-left: 1%;"><%= user_search_count(@book.users.uniq.count) %></font><br><br>

			<h3 style="margin-left: 2%;">
			<% @book.users.uniq.each do |user| %>
				<%= link_to user.username, user_path(user) %><br><br>
			<% end %></h3>

		<!-- display author's books -->
		<% elsif @author %><br><hr>
			<h3>Books written by <%= @author.name.titleize %>:</h3><br>
			<% @author.books.each do |book| %>
				<h3><%= link_to book.slug, books_path+"?search=#{book.title}" %></h3>
				<font size="3" style="margin-left: 1%;"><%= user_search_count(book.users.uniq.count) %></font><br><br><br>
			<% end %>
			
		<!-- display no books -->
		<% else %>
			<font size="3">We couldn't find any books in our system based on your search criteria.</font><hr>

		<% end %>
	</div>
</div>