<h1>Book Search</h1>

<% if @books %>
	<font size="3">These are all the books in our system</font><hr>
	<% @books.each do |book| %>
		<h3><%= link_to book.slug, books_path+"?search=#{book.title}" %><br></h3>
		<font size="3" style="margin-left: 1%;"><%= user_search_count(book.users.uniq.count) %></font>
		<br><br><br>
	<% end %>

<% elsif @book %>
	<br><hr>
	<h3><%= @book.slug %></h3>
	<font size="3" style="margin-left: 1%;"><%= user_search_count(@book.users.uniq.count) %>:</font><br><br>

	<h3 style="margin-left: 2%;">
	<% @book.users.each do |user| %>
		<%= link_to user.full_name, user_path(user) %><br><br>
	<% end %></h3>

<% elsif @author %>
	

<% else %>
	<font size="3">We couldn't find a book in our system based on your search criteria.</font><hr>

<% end %>