<div class="view">
	<div class="view_content">

		<h1><%= @trade.created_at.strftime('%D') %> - Trade with <%= link_to @trade.sender.full_name, user_path(@trade.sender) %></h1><br>

		<h3><%= @trade.sender.first_name %> has requested to trade the following book(s):</h3>
		<font size="4">
		<% @trade.sender_hash.each do |slug, num| %>
				<%= [num, 'x ', slug].join %><br>
		<% end %></font><br>

		<h3>For your:</h3>
		<font size="4">
		<% @trade.recipient_hash.each do |slug, num| %>
			<%= [num, 'x ', slug].join %><br>
		<% end %></font><br>

		<div class="btn-group-lg">
			<%= link_to 'Accept', accept_trade_path, data: {confirm: "Are you sure you want to accept this trade? Your shipping address will be sent to #{@trade.sender.first_name}."}, class: "btn btn-secondary" %>
			<%= link_to 'Decline', trade_path, method: :delete, data: {confirm: 'Are you sure you want to decline this trade?'}, class: "btn btn-secondary" %><br><br>
		</div>
		<a class="btn blue_btn large_btn" href="<%= user_trades_path(current_user) %>"><i class="arrow left icon"></i> Previous</a>
	</div>
</div>
