<div id="chatbox">
	<div id="comments">
		<% @trade.comments.each do |c| %>

			<div style="position: absolute;">
				<% if current_user == c.user %>
					<font style="font-weight: bold;"><%= link_to 'x', comment_path(c), method: :delete, class: "delete_comment" %></font>&nbsp
				<% else %>
					&nbsp &nbsp
				<% end %>

				<%= c.created_at.strftime('%H:%M') %> - <font style="color: blue;"><%= c.user.username %></font>: <%= c.content %>
			</div>
			<br>
		<% end %>
	</div>
	
	<hr>
	<%= form_tag comments_path do %>
		<input type="hidden" name="comment[trade_id]" value="<%= @trade.id %>">
		<input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
		<input type="text"   name="comment[content]" placeholder="Type a message here">
		<button name="action">Send <i class="level up alternate icon"></i></button>
	<% end %>
</div>
