<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="brand-color" class="navbar-brand" href="<%= root_path %>"><b>Book</b><font color='black'>Shoppe</font></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Profile', user_path(current_user), class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Trades', user_trades_path(current_user), class: 'nav-link' %></li>
      <% end %>
    </ul>

    <form method="GET" action="<%= books_path %>" class="form-inline my-2 my-lg-0">
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Find a book" aria-label="Search">
      <button class="btn blue_btn " type="submit"><i class="search icon"></i> Search</button>
    </form>

    <!-- Forgive me CSS gods, for I have sinned greatly. -->
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

    <% if user_signed_in? %>
      <%= link_to logout_path, method: :delete, class: "btn red_btn" do %>&nbsp Logout &nbsp<i class="sign-out icon"></i><% end %>
    <% else %>
      <a href="<%= login_path %>" class="btn btn-outline-success"><i class="sign-in icon"></i> Login</a>&nbsp &nbsp &nbsp
      <a href="<%= new_user_path %>" class="btn btn-outline-success"><i class="user plus icon"></i> Sign Up</a>
    <% end %>
    &nbsp &nbsp &nbsp
  </div>
</nav>
