<div class="ui secondary menu">
  <%= link_to 'Home', root_path, class: 'item' %>
  <% if user_signed_in? %>
    <%= link_to 'Profile', user_path(current_user), class: 'item' %>
  <% end %>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search">
        <i class="search link icon"></i>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to "Log out", logout_path, method: :delete, class: 'ui item active' %>
    <% else %>
      <%= link_to "Log in", login_path, class: 'ui item active' %>
      <%= link_to "Sign up", new_user_path, class: 'ui item active' %><br><br>
    <% end %>
  </div>
</div>